@{
    ViewData["Title"] = "Goal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Goal</title>
</head>
<body>
    <div class="col-md-12">
        <div>
            <h1>@ViewBag.Goal.Title</h1>
        </div>
    </div>

    <hr>

    <div class="col-md-12">
        <div>
            <h1>@ViewBag.Goal.Kind:</h1><h1>@ViewBag.Goal.Item</h1>
        </div>
    </div>

    <hr>

    <div class="col-md-12">
        <h2>Description:</h2>
        <div>
            <p>@ViewBag.Goal.Description</p>
        </div>
    </div>

    <form asp-action="UpdateGoal" asp-route-id="@ViewBag.Goal.Id">
        <button class="">Update</button>
    </form>

    <form asp-action="DeleteGoal" asp-route-id="@ViewBag.Goal.Id">
        <button class="bottom-right">Delete</button>
    </form>

</body>
